notification:
    queue: "notificationbundle.queue.redis"
    queue_parameters:
        scheme: tcp
        host: cache_server
        port: 6379

    allowed_entities:
        Message: "NotificationBundle\\Model\\Entity\\Message\\Message"
        Mail: "NotificationBundle\\Model\\Entity\\Message\\MailMessage"
        Exception: "NotificationBundle\\Model\\Entity\\Message\\FailureMailMessage"
        Slack: "NotificationBundle\\Model\\Entity\\Message\\SlackMessage"

    enabled_messengers:
        twitter:
            service_id: notificationbundle.messenger.twitter
            class: NotificationBundle\Messenger\TwitterMessenger
            groups:
                - portal_content_publishing
                - twitter
            config:
                consumer_key: xxx
                consumer_secret: xxx
                access_token: yyy
                access_token_secret: yyy

        email:
            service_id: notificationbundle.messenger.email
            class: NotificationBundle\Messenger\EmailMessenger
            groups:
                - application_failure_reporting
                - email
            config:
                default_from: xxx
                default_recipients:
                    - yyy

        slack:
            service_id: notificationbundle.messenger.slack
            class: NotificationBundle\Messenger\SlackMessenger
            groups:
                - application_failure_reporting
                - portal_content_publishing
                - slack
            config:
                hook_url: xxx

